.header {
  height: 100px;
  width: 100%;
}

.left-aside {
	width: 33%;
	height: 400px;
	float: left;
	margin-top: 0.5%;
	margin-right: 0.5%;
}

.main {
	width: 33%;
	float: left;
	height: 400px;
	margin-top: 0.5%;
	margin-right: 0.5%;
}
	
.main img {
	height: 170px;
	padding-left: 240px;
	padding-right: 240px;
}

.right-aside {
	width: 33%;
	height: 400px;
	float: left;
	margin-top: 0.5%;

}

.footer {
	height: 80px;
	width: 100%;
	float: left;
	margin-top: 0.5%;

}

.pink { background: #ee3e64; }
.blue { background: #44accf; }
.green { background: #b7d84b; }
.orange { background: #E2A741; }
.purple {background: #520577;}

p{
	padding-left: 20px;
	padding-right: 20px;
}
.float{
	float: left;
}

.float-right{
	float: right;
}