body{
	background: #cce0ff;
	font-family: "calibri", arial, sans-serif;
}

h1{
	color: rgba(255,0,255,0.8);
	font-size: 50px;
	margin-top: 50px;
}
h2 {
	color: rgba(0,0,204,0.5);
	font-zie: 24px;
	margin-top: -10px;
	margin-left: 10px;
}

p {
	color: #6600ff;
}

li{
	color: #6600ff;
}

hr{
	height: 5px;
}